.App {
  position: absolute;
  right: 50%;
  top: 100px;
  transform: translate(50%);
  text-align: center;
  background-color: blue;
}

.table-headers th{
  padding: 10px;
}

.table-body{
  background-color: aqua;
}

.table-element{
  width: 100%;
}

th, h2 {
  color: aquamarine;
}

td {
  width: fit-content;
}

button {
  margin: 5px;
}


