.App {
  position: absolute;
  right: 50%;
  top: 100px;
  transform: translate(50%);
  text-align: center;
  background-color: blue;
}

.table-headers th{
  padding: 10px;
}

.table-body{
  width: auto;
  background-color: aqua;
}

th, h2 {
  color: aquamarine;
}


td {
  width:33%;
  font-size: 20px;
}

button {
  margin: 5px;
}

.button-column{
  background-color: blue;
}


